h1, h2 {
    color: indigo;
}

p, li {
    color : #464646;
}


li.interne {
    color :indigo;
    font-weight: bold;
}

li em {
    color:red;
}

h1 + p {
    font-size: 120%;
}



a:link {
    color: blue;
}
  
a:visited {
    color: blueviolet;
}

a:hover {
    text-decoration: none;
}